body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-destino.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Gastronomia .image-top {
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Info */

#Info form label {
  font-weight: 500;
  color: hsl(199, 95%, 46%);
}

@media (max-width: 768px) {
  #Info form label {
    font-weight: 350;
  }

  .navbar-brand {
    width: 100px;
  }

}